APP_CONFIG__DB__URL="postgresql+asyncpg://postgres:pwd@localhost:5432/db"
APP_CONFIG__DB__ECHO=0
APP_CONFIG__AUTH_JWT__MAX_TOKEN_COUNT=1

## Конфигурация Maildev
#APP_CONFIG__SMTP__SERVER="localhost"
#APP_CONFIG__SMTP__PORT=1025
#APP_CONFIG__SMTP__USER=""
#APP_CONFIG__SMTP__PASSWORD=""
#APP_CONFIG__SMTP__EMAIL="admin@site.com"


# Gmail
APP_CONFIG__SMTP__SERVER="smtp.gmail.com"
APP_CONFIG__SMTP__PORT=587
APP_CONFIG__SMTP__USER=""
APP_CONFIG__SMTP__PASSWORD=""  # Сгенерированный пароль
APP_CONFIG__SMTP__EMAIL="admin@site.com"